.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 0px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
}

.content-box-collapse {
    left: 65px;
}

.content {
    width: auto;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.el-header{
	height: 70px;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid #dadada;
}